  <h1>about</h1>
  <div class="container">
    <p>
      Having your own business, whether small or big, is a great way to
      make some money while being your own boss; we can all agree about
      that. Whether you already own an offline business or planning to
      start one, you should already know that you need a website of your
      own. Millions of business are started every year, and you need your
      very
      <b>unique online presence</b> to make your own business stand out.
    </p>
    <div class="summary">
      <img src="/about/img/bavlyShehata.jpg" alt="A photo of me" />
      <div class="me">
        <h3>Who am I?</h3>
        <p>
          My name is Bavly Shehata, an Egyptian 20-year-old web developer
          studying computer science at The British University in Egypt.<br />
        </p>
      </div>
    </div>
    <p>
      I am a driven person who believes in going after what you love no
      matter what other people think of you, you are in control of your
      life. Let me give you an example: Here in Egypt, and most of the
      middle east, it is believed that you could be succesful only if you
      are either a doctor or an engineer, and as a top student during my
      academic career, everyone expected me to pick one or the other. So
      there I am, graduated highschool and got offered a full scholarship
      at a university offering THE best engineering program in Egypt, and
      you know what I did? I turned it down. I just didn't feel passionate
      about it; I loved working with software, I loved how I can change
      the lives of people to the better by building them applications and
      websites to help them grow their businesses. Luckily, I was offered
      another scholarship to study computer science, and finished the
      first year the top of my class; and though it took about a year for
      my family to finally give in, this is the decision I am most proud
      of in my life and never, for once, regretted. <br />
    </p>
    <p>
      All I am trying to say is <b>follow your passion</b>. Because if you
      don't believe in yourself, who will? Here at Bavlify Web, I am all
      about helping you along your journey. Maybe you want to start a new
      business? or you may want to create a personal website or make
      yourself an online resume to apply for jobs? or perhaps you want to
      start your own blog and share your mind with the world? Whatever
      your goal is, I say <a href="#services">Let's do it!</a>.
    </p>
    <p>
      If you are not sure how this works, have some questions, or just
      wanna tell me something, don't hesitate to
      <a href="#contact">contact me</a>
      anytime, I love talking to new people
    </p>
  </div>
