     <h1>contact</h1>
     <div class="container">
       <article class="footerSocial">
         <h4>Feel free to contact me on any of these platforms anytime</h4>
         <div class="socialMedia">
           <a
             href="https://www.facebook.com/bavly.shehata.96"
             class="fa fa-facebook"
           ></a>
           <a
             href="https://www.facebook.com/bavly.shehata.96"
             target="_blank"
           >
             Bavly Shehata</a
           >
           <a
             href="https://wa.me/201550921678"
             target="_blank"
             class="fa fa-whatsapp"
           ></a>
           <a href="https://wa.me/201550921678" target="_blank"
             >(+20) 1550921678</a
           >
           <a
             href="mailto:bavshehata@gmail.com"
             target="_blank"
             class="fa fa-google"
           ></a>
           <a href="mailto:bavshehata@gmail.com" target="_blank"
             >BavShehata@gmail.com</a
           >
           <a
             href="https://www.linkedin.com/in/bavshehata/"
             class="fa fa-linkedin"
             target="_blank"
           ></a>
           <a href="https://www.linkedin.com/in/bavshehata/" target="_blank"
             >BavShehata</a
           >
         </div>
       </article>
       <form action="/" method="POST" id="contacting">
         <div class="nameDiv">
           <label for="fName" id="fNameL">First Name</label>
           <input
             type="text"
             name="fName"
             id="fName"
             placeholder=""
             required
           />
           <label for="lName" id="lNameL">Last Name</label>
           <input
             type="text"
             name="lName"
             id="lName"
             placeholder=""
             required
           />
         </div>
         <div class="emailDiv">
           <label for="email">E-mail address</label>
           <input
             type="email"
             name="email"
             id="email"
             placeholder=""
             required
           />
         </div>
         <div class="messsageDiv">
           <label for="message">Message</label>
           <textarea
             name="message"
             id="message"
             placeholder="I would love to hear your questions, feedback, suggestions or just a hello"
             required
           ></textarea>
         </div>
         <input
           type="submit"
           name="submit"
           id="submit"
           value="submit"
           class="btn"
         />
       </form>
     </div>
