     <h2>Want to get in touch? Fill this form</h2>
     <article class="contactForm">
       <%- include("contactForm.ejs") %>
     </article>
     <article class="socialMedia">
       <h3><span class="separator">OR</span>Find me on one of the following platrforms</h3>
       <%- include("socialMedia.ejs") %>
     </article>
