     <h2>Want to get in touch? Fill this form</h2>
     <article class="contactForm">
       <%- include("contactForm.ejs") %>
     </article>
     <article class="socialMedia">
       <h3><span class="separator">OR</span>Find me on one of the following platrforms</h3>
       <%- include("socialMedia.ejs") %>
     </article>

     <article class="contactConfirmation">
       <div class="container">
         <i class="far fa-check-circle"></i>
         <h2>Your message has been received!</h2>
         <p>Congratulations, you've taken your first step towards a unique online presence.
           Please expect a very soon reply, and let's show your business to the world!</p>
         <button class="btn">Back to website</button>
      </div>
     </article>
