<a href="/" id="logo">
  <img src="/assets/hero/logo.svg" alt="Logo" />
  <h2 class="bold">Bavlify Web</h2>
</a>
<nav>
  <a href="#about">about</a>
</nav>
<div class="absolute">
  <button class="btn" id="theme">Halloween!</button>
</div>
