    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="bavlify Web is a website that gives you the opportunity to create your web presence by attracting visitors with a clean website that promotes you online"
    />
    <meta name="author" content="Bavly Shehata" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap" media="print" onload="this.media='all'">
    <noscript>
    	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap">
    </noscript>
    <!-- Style CSS -->
    <link rel="stylesheet" type="text/css" href="/newstyle.css" />
    <title>Full-Stack Web Development | Bavlify Web</title>
