    <a href="/" id="logo">
      <img src="/assets/hero/logo.png" alt="Logo" />
      <h2>Bavlify Web</h2>
    </a>
    <nav>
      <ul>
        <li id="ham-btn">
          <a href="javascript:void(0);" class="icon" onclick="showNav()">
            <i class="fa fa-bars"></i>
          </a>
        </li>
        <li class="active"><a href="#homepage">home</a></li>
        <li><a href="#portfolio">portfolio</a></li>
        <li><a href="#about">about</a></li>
        <li><a href="#contact">contact</a></li>
      </ul>
    </nav>
