    <a href="/" id="logo">
      <img src="/assets/hero/logo.svg" alt="Logo" />
      <h2 class="bold">Bavlify Web</h2>
    </a>
    <nav>
      <a href="#about">about</a>
    </nav>
    <div class="absolute">
      <button class="btn" id="theme">Halloween!</button>
    </div>
    <div id="scrollUP" class="absolute">
      <a href="" class="btn" id="scrollTop">
        <i class="fas fa-arrow-alt-circle-up fa-2x"></i>
      </a>
    </div>
