<a
  href="https://www.facebook.com/bavly.shehata.96"
  class="fa fa-facebook"
  target="_blank"
> Bavly Shehata</a>
<a
  href="https://wa.me/201550921678"
  target="_blank"
  class="fa fa-whatsapp"
> (+20) 1550921678</a>
<a
  href="mailto:bavshehata@gmail.com"
  target="_blank"
  class="fa fa-google"
> BavShehata@gmail.com</a>
<a
  href="https://www.linkedin.com/in/bavshehata/"
  class="fa fa-linkedin"
  target="_blank"
> BavShehata</a>
<a href="https://github.com/bavShehata" class="fab fa-github" target="_blank"> BavShehata</a>
