* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-weight: normal;
}
:root {
  --main-clr: #13073d;
  --secondary-clr: #430791;
  --tertiary-clr: #7c0dd1;
  --accent-clr: #9d36e1;
  --white-clr: #fff;
  --large-circle-size: 60vw;
  --medium-circle-size: calc(var(--large-circle-size) * 0.674);
  --small-circle-size: calc(var(--large-circle-size) * 0.52);
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Bodoni Moda", serif;
  color: var(--white-clr);
  background-color: var(--main-clr);
}
a {
  color: var(--white-clr);
}
a:hover,
a:focus {
  color: var(--accent-clr);
}
h1 {
  font-size: clamp(2.3rem, 5vw, 4rem);
}
h2,
.btn {
  font-size: clamp(1.8rem, 4vw, 3rem);
}
h3 {
  font-size: clamp(1.6rem, 1.7vw, 2.5rem);
}
p,
li,
a,
input,
textarea,
label {
  font-size: clamp(1.4rem, 1.5vw, 2.5rem);
}
/* Utility Classes */
.bold {
  font-weight: bold;
}
.absolute {
  position: absolute;
  top: 40vh;
  right: 10vw;
}
.center {
  text-align: center;
}
.btn {
  padding: 1rem 3rem;
  cursor: pointer;
}
.container {
  margin: 0 5vw;
}
#scrollTop {
  opacity: 0;
  cursor: default;
  position: fixed;
  top: 70%;
  right: 7%;
  transition: opacity 1s;
  color: var(--accent-clr);
}
#scrollTop:hover {
  color: var(--secondary-clr);
}
#theme {
  display: none;
}
header {
  text-transform: capitalize;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#logo img {
  width: max(3rem, 4vw);
  margin-right: 1rem;
}
nav a {
  padding: 0.5rem 1rem;
}
#logo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#hero {
  min-height: 100vh;
}
#hero .big-img {
  background-color: var(--main-clr);
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
#hero .absolute {
  top: 2rem;
}
#hero .absolute.grid:last-child {
  grid-template-rows:
    var(--large-circle-size)
    calc(var(--medium-circle-size) + var(--small-circle-size));
}
#hero .text {
  place-self: center center;
}
#hero .text h2 {
  margin-top: 1rem;
}
.cta {
  place-self: center center;
  display: flex;
  flex-direction: column;
}
.cta .btn:nth-child(1) {
  background-color: var(--accent-clr);
}
.cta .btn:nth-child(1):hover,
.cta .btn:nth-child(1):focus {
  background-color: var(--secondary-clr);
  color: white;
}
.cta .btn:nth-child(2) {
  border: 1px solid #888;
}
.cta .btn:nth-child(2):hover {
  border: 1px solid #555;
}
.grid {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: calc(
    var(--large-circle-size) + (var(--medium-circle-size) / 2) +
      (var(--small-circle-size) / 2)
  );
  grid-template-rows:
    var(--large-circle-size)
    var(--medium-circle-size)
    var(--small-circle-size);
  grid-row-gap: min(
    calc(
      92vh - 8rem - var(--large-circle-size) - var(--medium-circle-size) -
        var(--small-circle-size)
    ),
    10rem
  );
  right: 50%;
  transform: translateX(50%);
}
.large {
  height: var(--large-circle-size);
  place-self: center center;
}
.medium {
  height: var(--medium-circle-size);
  place-self: center flex-start;
}
.small {
  height: var(--small-circle-size);
  place-self: center flex-end;
}
@media (orientation: landscape) {
  .grid {
    margin-top: 10rem;
    --large-circle-size: 48vh;
    --medium-circle-size: calc(var(--large-circle-size) * 0.674);
    --small-circle-size: calc(var(--large-circle-size) * 0.52);
    grid-template-columns:
      calc((var(--large-circle-size) / 2) + (var(--medium-circle-size) / 2))
      calc((var(--large-circle-size) / 2) + (var(--small-circle-size) / 2));
    grid-template-rows:
      var(--large-circle-size)
      var(--medium-circle-size);
    grid-row-gap: 0;
    right: 5vw;
    transform: none;
  }
  #hero .absolute.grid:last-child {
    grid-template-columns: 80vw;
    grid-template-rows:
      var(--large-circle-size)
      var(--medium-circle-size);
    left: 5vw;
  }
  #hero .text {
    place-self: center flex-start;
    text-align: left;
  }
  .cta {
    place-self: center flex-start;
    display: flex;
    flex-direction: row;
  }
  .large {
    height: var(--large-circle-size);
    place-self: center center;
    grid-column: 1/3;
  }
  .medium {
    height: var(--medium-circle-size);
    place-self: center flex-start;
    grid-row: 2/3;
  }
  .small {
    height: var(--small-circle-size);
    place-self: center flex-end;
    grid-row: 2/3;
  }
}
main {
  flex: 1 0 auto;
}
#contact {
  color: var(--white-clr);
  background-color: black;
}
#contact .logoImg {
  width: max(5rem, 6vw);
  align-self: center;
  margin-bottom: 0.5rem;
}
.contactForm {
  width: min(100%, 500px);
  margin: 0 auto 5rem auto;
}
#contact form {
  background-color: var(--main-clr);
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 2rem;
}
#contact h2 {
  padding: 5vh 0;
}
#contact div {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
input,
textarea {
  font-family: "Bodoni Moda", serif;
  color: white;
  background-color: var(--secondary-clr);
  margin-top: 0.3rem;
  padding: 0.5rem;
}
input:focus,
textarea:focus {
  border: 2px solid var(--secondary-clr);
  background-color: var(--accent-clr);
}
#submit {
  margin-top: 5rem;
  background-color: var(--tertiary-clr);
  color: var(--white-clr);
}
.socialMedia {
  display: flex;
  flex-direction: column;
  text-align: left;
}
#contact span {
  display: block;
  text-align: center;
  position: relative;
  margin-bottom: 1rem;
  font-size: 1.8em;
}
#contact span::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 35vw;
  background-color: white;
  top: 50%;
  right: 0;
}
#contact span::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 35vw;
  background-color: white;
  top: 50%;
  left: 0;
}
.socialMedia {
  margin-bottom: 5rem;
}
.socialMedia h3 {
  margin-bottom: 0.5rem;
}
.socialMedia a {
  margin: 0.5rem 0;
  font-size: clamp(1.3rem, 1.3vw, 2.3rem);
}
footer {
  flex-shrink: 0;
}
