/*Global*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-clr: #ae866c;
  --secondary-clr: #765555;
  --tertiary-clr: #543f3f;
}
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--tertiary-clr);
  border-radius: 10px;
}
::-webkit-scrollbar-track-piece {
  background: var(--main-clr);
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  font-family: "Sansita Swashed", cursive;
  overflow-x: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}
main {
  flex: 1 0 auto;
}
input,
textarea {
  font-family: "Sansita Swashed", cursive;
}
.btn {
  text-transform: capitalize !important;
  font-family: "Noto Serif", serif;
  transition: all 0.3s ease-out;
}
section:not(#homepage) {
  background-color: #e3ddc5 !important;
  padding-top: 120px;
}
section:not(#homepage) h1 {
  border-top: 1rem solid var(--tertiary-clr);
  border-bottom: 1rem solid var(--tertiary-clr);
  padding-bottom: 1rem;
}
h1 {
  font-size: clamp(3.5rem, 6vw, 4rem);
  text-transform: capitalize;
  margin-bottom: 1em;
  color: var(--tertiary-clr);
}
h2 {
  font-size: clamp(3rem, 5vw, 3.5rem);
  text-transform: capitalize;
  color: var(--tertiary-clr);
}
h3 {
  font-size: clamp(2.5rem, 4vw, 3rem);
  text-transform: capitalize;
}
h4 {
  font-size: clamp(2rem, 3vw, 2.5rem);
  text-transform: capitalize;
  color: var(--secondary-clr);
}
p,
li,
label,
input,
textarea,
.btn {
  font-size: clamp(1.5rem, 2.5vw, 2rem);
}
.btn {
  cursor: pointer;
}
a {
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  color: var(--tertiary-clr);
  transition: all 0.3s ease-out;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.btn,
.backBtn {
  padding: 1em 4vw;
  background-color: var(--main-clr);
  text-decoration: none;
  color: white;
  border: 2px solid #2e3639;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: bold;
}
.btn:hover,
.backBtn:hover {
  background-color: var(--tertiary-clr);
  border-color: var(--main-clr);
}
.backbtn {
  display: inline-block;
  width: clamp(150px, 30vw, 500px);
  position: fixed;
  bottom: 5%;
  right: 5%;
}
input[type="image"] {
  width: clamp(100px, 60vw, 300px);
}
video {
  width: 100%;
}
#theme {
  padding: 10px;
  display: inline-block;
  position: absolute;
  top: 250px;
  right: 2%;
  animation: shake 2s ease-in infinite;
}
@keyframes shake {
  50% {
    transform: translate(0, 20px);
  }
}
/*Header*/
header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.6);
  border: 3px solid var(--secondary-clr);
  transition: opacity 0.4s ease-in-out;
}
#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 120%;
}
#logo img {
  height: 80px;
  padding: 1em;
  padding-left: 0;
}
#logo h2 {
  color: var(--tertiary-clr);
}
nav ul {
  list-style: none;
  text-align: center;
  background-color: var(--tertiary-clr);
}
nav a {
  text-decoration: none;
  display: block;
  font-weight: bold;
  color: var(--main-clr);
  text-transform: capitalize;
}
nav li:not(#ham-btn) {
  display: none;
}
@media (hover: hover) and (pointer: fine) {
  nav a:not(.active):hover,
  nav a:not(.icon):hover {
    color: var(--secondary-clr);
  }
}

header .active {
  color: var(--main-clr);
  border: 3px solid var(--main-clr);
  position: relative;
}
/*Header Media*/

@media (min-width: 800px) {
  body {
    background-size: cover;
  }
  #ham-btn {
    display: none;
  }
  nav ul {
    background-color: transparent;
    display: flex;
  }
  nav li:not(#ham-btn) {
    display: block;
  }
  nav a {
    padding: 0.5em 5.5vw;
  }
  @media (hover: hover) and (pointer: fine) {
    nav a:not(.active):hover,
    nav a:not(.icon):hover {
      background-color: var(--main-clr);
    }
  }
  header .active {
    background-color: var(--main-clr);
    border: none;
  }
  header .active a {
    color: var(--tertiary-clr);
  }
  section:not(#homepage) {
    padding-top: 180px !important;
  }
}
@media (min-width: 1200px) {
  header {
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header #logo {
    margin-left: 2em;
  }
  nav li {
    padding: 0 !important;
    position: relative;
  }
  nav a {
    padding: 35px 1em !important;
    position: relative;
  }
  nav .active {
    background-color: var(--main-clr);
    transition: background-color 0.5s, color 0.5s;
  }
  section:not(#homepage) {
    padding-top: 110px !important;
  }
}
/*Homepage*/
/*Header*/
#scrollTop {
  position: fixed;
  opacity: 0;
  cursor: default;
  bottom: 10%;
  right: 5%;
  padding: 1em;
  border-radius: 50%;
  transition: opacity 0.5s ease-in-out;
  z-index: 1;
}
#homepage {
  height: 100vh;
}
#homepage .big-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-image: url("/assets/hero/back4Mini.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  opacity: 0.9;
}
#homepage .big-img::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  opacity: 0.5;
  background-color: white;
}
#homepage .text {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#homepage .text h1 {
  margin-top: 150px;
  color: var(--tertiary-clr);
}
#homepage .text h4 {
  color: var(--secondary-clr);
}
#homepage .text p {
  color: var(--secondary-clr);
  letter-spacing: 2;
}
#homepage .btn {
  position: relative;
  width: clamp(200px, 40vw, 800px);
  margin: 0 auto;
  animation-duration: 3s;
}
@keyframes slideLeft {
  0% {
    left: -20vw;
  }
  70% {
    left: 50%;
  }
  100% {
    left: 50%;
  }
}
@media (min-width: 800px) {
  #homepage .big-img {
    background-image: url("/assets/hero/back4.jpg");
  }
}
/*Portfolio*/
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/*About*/
#about .container {
  background-color: white;
  padding: 1em;
}
#about img {
  width: clamp(100px, 100%, 600px);
}
#about h2 {
  padding: 1em 0;
  color: var(--secondary-clr);
}
#about h3 {
  margin: 1em 0;
  color: var(--secondary-clr);
}
#about p {
  text-align: left;
  padding: 1em 0;
  color: var(--tertiary-clr);
}
#about a {
  font-weight: bold;
  color: var(--main-clr);
}
#about a:hover {
  color: var(--secondary-clr);
}
@media (min-width: 700px) {
  #about .container {
    padding: 2em;
  }
  #about .summary {
    display: grid;
    grid-template-columns: auto 300px;
    column-gap: 60px;
  }
  #about img {
    grid-column: 2/3;
  }
  #about .summary .me {
    grid-row: 1/2;
    align-self: center;
  }
}

/*Contact*/
#contact {
  padding-bottom: 50px;
}
#contact form {
  text-align: left;
  max-width: 500px;
  padding: 1em;
  grid-area: form;
  margin: 0 auto;
}
#contact input {
  width: 100%;
  padding: 0.5em;
  color: var(--secondary-clr);
  border-radius: 8px;
}
#contact h1,
#contact h4 {
  color: var(--tertiary-clr);
}
#contact label {
  display: block;
  color: var(--tertiary-clr);
  font-weight: bold;
  margin: 0.5em 0;
}
#contact textarea {
  padding: 0.5em;
  width: 100%;
  height: 80px;
  color: var(--secondary-clr);
  margin-bottom: 1em;
  border-radius: 8px;
  border-top-color: black;
  border-left-color: black;
  border-width: 2px;
}
#contact .btn {
  border-radius: 0;
  color: white;
  border-radius: 8px;
}
#contact .nameDiv {
  display: grid;
  grid-column-gap: 20px;
  grid-template-areas:
    "fNameL lNameL"
    "fName  lName";
}

#contact #fName {
  grid-area: fName;
}
#contact #fNameL {
  grid-area: fNameL;
}
#contact #lName {
  grid-area: lName;
}
#contact #lNameL {
  grid-area: lNameL;
}
#contact h2 {
  text-transform: none;
  margin-top: 20vh;
  color: var(--tertiary-clr);
  margin-bottom: 2em;
}
.contact h2 {
  margin-top: 12vh;
}
#contact h4 {
  text-align: left;
  width: 80%;
}
#contact .socialMedia {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}
#contact .footerSocial {
  grid-area: socialMedia;
}
#contact a:nth-child(2n) {
  color: var(--tertiary-clr);
}
#contact a:nth-child(2n):hover {
  color: var(--secondary-clr);
}
#contact .fa {
  padding: 0.2em;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

#contact .fa:hover {
  opacity: 0.7;
}

#contact .fa-facebook {
  background: #3b5998;
  color: white;
}
#contact .fa-whatsapp {
  background: #06d755;
  color: white;
}
#contact .fa-google {
  background: #dd4b39;
  color: white;
}

#contact .fa-linkedin {
  background: #007bb5;
  color: white;
}
@media (min-width: 800px) {
  #contact .container {
    display: grid;
    grid-template-areas: "socialMedia form";
    align-items: center;
  }
  #contact form {
    margin-top: 4em;
  }

  #contact h4 {
    display: block;
    margin-bottom: 2em;
  }
}
footer {
  text-align: center;
  background-color: var(--tertiary-clr);
  color: var(--main-clr);
  position: static;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
