/*Global*/
* {
  margin: 0;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 62.5%;
  color: #000;
  background-color: #eeeeee;
  text-align: center;
}
h1 {
  font-size: clamp(30px, 5em, 120px);
  font-weight: 400;
}
h2 {
  font-size: clamp(22px, 3em, 90px);
}
h3 {
  font-size: clamp(17px, 2em, 70px);
}
p,
.btn {
  font-size: clamp(13px, 2em, 40px);
}
img {
  width: 100%;
}
.container {
  width: min(70vw, 1440px);
  margin: 0 auto;
  box-shadow: 10px 0 40px 25px #ddd, -10px 0 40px 25px #ddd;
  padding-bottom: 20px;
}
.btn {
  color: #333;
  text-decoration: none;
  display: inline-block;
  padding: 1em 2em;
  width: 50%;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 30px;
  transition: background-color 500ms ease;
}
.btn:hover {
  background-color: #eee;
}
/*Header*/
header {
  height: 100vh;
  background-color: #fff;
  display: grid;
  grid-template-columns: 4fr 6fr;
}
header .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 4em;
}
header p {
  color: #8888a7;
  margin: 30px auto;
}
header img {
  height: 100vh;
}
/*Main*/
main #heading {
  background-color: #333333;
  width: auto;
}
main h2 {
  display: inline-block;
  font-weight: 400;
  color: white;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0 1em;
  border-right: 1px dotted white;
  border-left: 1px dotted white;
}
main h3 {
  margin-top: 2em;
}
main p {
  padding: 1em 0 2em 0;
}
.image h3 {
  margin-top: 40px;
}
.image p {
  margin-bottom: 40px;
}
/*Footer*/
footer {
  margin-top: 8em;
  color: #333333;
}
footer h1 {
  font-size: 4.8em;
}
footer p {
  line-height: 2.3;
  padding: 1.5em 0 2em 0;
}
footer .bold {
  font-weight: 700;
}

/*Media Queries*/
@media (max-width: 500px) {
  .container {
    width: 95vw;
    text-align: center;
  }
  header {
    display: inline-block;
    height: 100vh;
  }
  header .left {
    padding: 0;
    height: 50vh;
  }
  header aside {
    width: auto;
    height: 50vh;
  }
  header img {
    height: 50vh;
    width: 100%;
  }
  header h1 {
    margin-top: 2em;
  }
  header .btn {
    padding: 1em;
    margin-bottom: 6em;
  }
}
@media (min-width: 1500px) {
  h1 {
    font-size: clamp(30px, 8em, 120px);
    font-weight: 400;
  }
  h2 {
    font-size: clamp(22px, 6em, 90px);
  }
  h3 {
    font-size: clamp(17px, 4em, 70px);
  }
  p,
  .btn {
    font-size: clamp(13px, 4em, 40px);
  }
}
