<html lang="en-us">
  <head>
    <%- include("../partials/head.ejs") %>
  </head>
  <body>
    <div id="hero">
      <div class="container">
        <header>
          <%- include("../partials/header.ejs") %>
        </header>
        <main>
          <section class="container contact">
            <p>
              We recieved your message, thank you very much and kindly wait for our
              reply.
            </p>
            <a href="/" class="btn back">Back to Homepage</a>
          </section>
        </main>
      </div>
    </div>
    <footer>
      <%- include("../partials/footer.ejs") %>
    </footer>
    <script src="/app.js"></script>
    <script
      src="https://kit.fontawesome.com/6751b3949e.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
