<div class="big-img"></div>
<div class="absolute grid">
  <img src="/public/assets/hero/circlel.svg" alt="large circle" class="large" />
  <img
    src="/public/assets/hero/circlem.svg"
    alt="medium circle"
    class="medium"
  />
  <img src="/public/assets/hero/circles.svg" alt="small circle" class="small" />
</div>
<div class="absolute grid">
  <div class="text">
    <h1 class="bold">Own a unique web presence</h1>
    <h2>Show your business to the world</h2>
  </div>
  <div class="cta">
    <a href="#portfolio" class="btn">Portfolio</a>
    <a href="#contact" class="btn">Contact</a>
  </div>
</div>
