<a href="https://www.facebook.com/bavly.shehata.96" target="_blank"
  ><span class="icon-facebook"></span> Bavly Shehata</a
>
<a href="https://wa.me/201550921678" target="_blank"
  ><span class="icon-whatsapp"></span> (+20) 1550921678</a
>
<a href="mailto:bavshehata@gmail.com" target="_blank"
  ><span class="icon-google"></span> BavShehata@gmail.com</a
>
<a href="https://www.linkedin.com/in/bavshehata/" target="_blank">
  <span class="icon-linkedin"></span> BavShehata</a
>
<a href="https://github.com/bavShehata" target="_blank">
  <span class="icon-github"></span> BavShehata</a
>
